*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Lato", sans-serif;
  color: #1C1C1C; }

h1 {
  font-size: 40px;
  font-weight: 300; }

h2 {
  font-size: 35px;
  font-weight: 700; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 20px;
  font-weight: 300; }

h5 {
  font-size: 20px; }

p {
  max-width: 600px;
  margin: 0 auto;
  font-weight: 400; }

a {
  color: #5C5C5C; }

.grid:after {
  content: "";
  display: table;
  clear: both; }

[class*='col-'] {
  float: left; }

.col-2-3 {
  width: 66.66%; }

.col-1-3 {
  width: 33.33%; }

.col-1-4 {
  width: 25%; }

.col-1-2 {
  width: 50%; }

.col-3-4 {
  width: 75%; }

.col-1 {
  width: 100%; }

nav {
  position: fixed;
  width: 150px;
  height: 100%;
  text-align: center; }
  nav ul {
    list-style-type: none; }
    nav ul li {
      -webkit-transform: translateZ(0);
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      border-top: 1px solid #444; }
      nav ul li:first-of-type {
        border: 0px; }
      nav ul li a {
        display: block;
        text-decoration: none;
        -webkit-transform: translateZ(0);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        nav ul li a:hover h5 {
          line-height: 14vh;
          font-weight: 600;
          font-size: 24px; }
        nav ul li a.active-page h5 {
          line-height: 20vh;
          font-weight: 600;
          font-size: 30px;
          color: #1C1C1C; }
        nav ul li a.active-pagehover h5 {
          line-height: 20vh;
          font-weight: 600;
          font-size: 30px;
          color: #1C1C1C; }
        nav ul li a h5 {
          line-height: 10vh;
          -webkit-transform: translateZ(0);
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
          font-weight: 400;
          color: #1C1C1C; }

#wrapper {
  margin-left: 150px;
  width: auto;
  height: auto; }

#photos {
  position: relative;
  width: 100%;
  height: auto;
  right: 0; }

.pic0 {
  background: url(/img/wheat.jpg) no-repeat center center; }

.pic1 {
  background: url(/img/cornhole.JPG) no-repeat center center; }

.pic2 {
  background: url(/img/horse.jpg) no-repeat center center; }

.pic3 {
  background: url(/img/fence.jpg) no-repeat center center; }

.pic4 {
  background: url(/img/dog.jpg) no-repeat center center; }

.pic5 {
  background: url(/img/shooting.JPG) no-repeat center center; }

.pic6 {
  background: url(/img/sunset.jpg) no-repeat center center; }

.pic7 {
  background: url(/img/otter.jpg) no-repeat center center; }

.pic8 {
  background: url(/img/Jeremy_shotgun.JPG) no-repeat center; }

.pic9 {
  background: url(/img/forest_road.jpg) no-repeat center center; }

.pic10 {
  background: url(/img/kid.jpg) no-repeat center; }

.hover {
  position: relative;
  height: 0;
  top: 100%;
  opacity: 0;
  overflow: hidden;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
  background-image: -webkit-linear-gradient(top, transparent 40%, rgba(0, 0, 0, 0.9));
  background-image: -moz-linear-gradient(top, transparent 40%, rgba(0, 0, 0, 0.9));
  background-image: -o-linear-gradient(top, transparent 40%, rgba(0, 0, 0, 0.9));
  background-image: linear-gradient(to bottom, transparent 40%, rgba(0, 0, 0, 0.9));
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .hover .button {
    opacity: 0.9;
    display: block;
    position: relative;
    margin: 0 auto;
    top: 125px;
    height: 50px;
    width: 150px;
    background: #444;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .hover .button:hover {
      background: #640000; }

[class*='pic'] {
  background-size: cover;
  height: 300px;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  [class*='pic']:hover > .hover {
    opacity: 1;
    height: 100%;
    top: 0; }

.pic0 {
  height: 400px; }

.title {
  height: 400px;
  padding: 20px;
  text-align: center;
  padding-top: 100px; }

#videos {
  position: relative;
  width: 100%;
  height: auto;
  right: 0;
  background: #fff; }

[class*='vids'] {
  height: 200px; }

.vids0 {
  height: 60vh;
  overflow: hidden; }
  .vids0 .video_1 {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.vids1 {
  background: red; }

.vids2 {
  background: blue; }

.vids3 {
  background: green; }

.vids4 {
  background: pink; }

#about {
  position: relative;
  width: 100%;
  height: auto;
  background: #fff; }
  #about .selfie {
    position: relative;
    background: teal;
    height: 50vh;
    width: 100%;
    text-align: center;
    line-height: 30vh; }
  #about p {
    color: #222;
    padding: 30px 0;
    line-height: 30px;
    text-indent: 50px; }

#contact {
  position: relative;
  width: 100%;
  height: auto;
  background: #555; }
  #contact p {
    display: block; }
  #contact h2 {
    width: 58%;
    width: 58%;
    text-align: right;
    font-size: 60px;
    line-height: 120px;
    display: inline-block;
    vertical-align: super;
    margin-right: 20px; }
  #contact div {
    display: inline-block; }
