/* line 1, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 7, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

/* line 26, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
h1 {
  font-size: 40px;
  font-weight: 300; }

/* line 30, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
h2 {
  font-size: 35px;
  font-weight: 700; }

/* line 34, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
h3 {
  font-size: 30px; }

/* line 37, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
h4 {
  font-size: 20px;
  font-weight: 300; }

/* line 41, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
h5 {
  font-size: 20px; }

/* line 44, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
p {
  max-width: 600px;
  margin: 0 auto;
  font-weight: 400; }

/* line 51, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
body {
  background: #222; }

/* line 55, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
nav {
  padding: 5vh 0;
  position: fixed;
  width: 150px;
  height: 100%;
  text-align: center;
  background: #333; }
  /* line 62, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
  nav .page-title {
    margin: 5vh 0;
    position: relative; }
    /* line 66, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
    nav .page-title h1:last-of-type {
      font-weight: 100; }
    /* line 70, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
    nav .page-title div {
      height: 1px;
      background: #fff;
      margin: 2vh 4vh 1vh; }
    /* line 75, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
    nav .page-title h4 {
      text-indent: 30%;
      margin-top: 1vh; }
  /* line 80, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
  nav ul {
    position: relative;
    list-style-type: none; }
    /* line 83, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
    nav ul li {
      -webkit-transform: translateZ(0);
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      /* line 85, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
      nav ul li:first-of-type {
        border-top: 1px solid #444; }
      /* line 88, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
      nav ul li a {
        display: block;
        text-decoration: none;
        -webkit-transform: translateZ(0);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        border-bottom: 1px solid #444;
        height: 10vh; }
        /* line 94, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
        nav ul li a h5 {
          font-size: 18px;
          -webkit-transform: translateZ(0);
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
          line-height: 10vh; }
        /* line 100, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
        nav ul li a.active-page {
          height: 60vh;
          background: #555; }
          /* line 103, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
          nav ul li a.active-page h5 {
            transform: rotateZ(-90deg);
            font-size: 130px;
            position: relative;
            top: 35vh;
            right: 1vw; }
        /* line 112, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
        nav ul li a:hover {
          background: #555; }

/* line 121, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
#wrapper {
  margin-left: 150px;
  width: auto;
  height: auto; }

/* line 126, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
#photos {
  position: relative;
  width: 100%;
  height: auto;
  right: 0; }

/* line 133, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
.grid:after {
  content: "";
  display: table;
  clear: both; }

/* line 139, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
[class*='col-'] {
  float: left; }

/* line 142, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
.col-2-3 {
  width: 66.66%; }

/* line 143, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
.col-1-3 {
  width: 33.33%; }

/* line 144, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
.col-1-4 {
  width: 25%; }

/* line 145, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
.col-1-2 {
  width: 50%; }

/* line 146, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
.col-3-4 {
  width: 75%; }

/* line 147, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
.col-1 {
  width: 100%; }

/* line 149, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
.pic0 {
  background: url(img/wheat.jpg) no-repeat center center; }

/* line 151, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
.pic1 {
  background: url(img/cornhole.JPG) no-repeat center center; }

/* line 153, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
.pic2 {
  background: url(img/horse.jpg) no-repeat center center; }

/* line 155, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
.pic3 {
  background: url(img/fence.jpg) no-repeat center center; }

/* line 157, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
.pic4 {
  background: url(img/dog.jpg) no-repeat center center; }

/* line 159, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
.pic5 {
  background: url(img/shooting.JPG) no-repeat center center; }

/* line 161, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
.pic6 {
  background: url(img/sunset.jpg) no-repeat center center; }

/* line 163, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
.pic7 {
  background: url(img/otter.jpg) no-repeat center center; }

/* line 165, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
.pic8 {
  background: url(img/Jeremy_shotgun.JPG) no-repeat center; }

/* line 167, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
.pic9 {
  background: url(img/forest_road.jpg) no-repeat center center; }

/* line 169, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
.pic10 {
  background: url(img/kid.jpg) no-repeat center; }

/* line 173, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
.hover {
  height: 0;
  opacity: 0;
  background: rgba(255, 255, 255, 0.7);
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  /* line 178, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
  .hover .button {
    opacity: 0.9;
    display: block;
    position: relative;
    margin: 0 auto;
    top: 125px;
    height: 50px;
    width: 150px;
    background: #444;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    /* line 191, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
    .hover .button:hover {
      background: #640000; }

/* line 196, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
[class*='pic'] {
  background-size: cover;
  height: 300px; }
  /* line 201, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
  [class*='pic']:hover > .hover {
    opacity: 1;
    height: 100%; }

/* line 206, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
.pic0 {
  height: 400px; }

/* line 209, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
.title {
  height: 400px;
  padding: 20px;
  text-align: center;
  padding-top: 100px; }

/* line 216, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
#videos {
  position: relative;
  width: 100%;
  height: auto;
  right: 0;
  background: #fff; }

/* line 224, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
[class*='vids'] {
  height: 200px; }

/* line 228, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
.vids0 {
  height: 60vh;
  overflow: hidden; }
  /* line 231, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
  .vids0 .video_1 {
    height: 100%;
    width: 100%;
    object-fit: cover; }

/* line 238, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
.vids1 {
  background: red; }

/* line 240, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
.vids2 {
  background: blue; }

/* line 242, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
.vids3 {
  background: green; }

/* line 244, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
.vids4 {
  background: pink; }

/* line 248, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
#about {
  position: relative;
  width: 100%;
  height: auto;
  background: #fff; }
  /* line 253, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
  #about .selfie {
    position: relative;
    background: teal;
    height: 50vh;
    width: 100%;
    text-align: center;
    line-height: 30vh; }
  /* line 261, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
  #about p {
    color: #222;
    padding: 30px 0;
    line-height: 30px;
    text-indent: 50px; }

/* line 269, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
#contact {
  position: relative;
  width: 100%;
  height: auto;
  background: #555; }
  /* line 274, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
  #contact p {
    display: block; }
  /* line 277, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
  #contact h2 {
    width: 58%;
    width: 58%;
    text-align: right;
    font-size: 60px;
    line-height: 120px;
    display: inline-block;
    vertical-align: super;
    margin-right: 20px; }
  /* line 287, C:/Users/Zach/Google Drive/ZoePhotography/style.scss */
  #contact div {
    display: inline-block; }

/*# sourceMappingURL=style.css.map */