*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    color: #fff;
    
}

@mixin transition($seconds) {
    -webkit-transform: translateZ(0);
    -webkit-transition: all $seconds ease;
    -moz-transition: all $seconds ease;
    -ms-transition: all $seconds ease;
    -o-transition: all $seconds ease;
    transition: all $seconds ease;
}

$pad: 20px;

h1 {
    font-size: 40px;
    font-weight: 300;
}
h2 {
    font-size: 35px;
    font-weight: 700;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 20px;
    font-weight: 300;
}
h5 {
    font-size: 20px;
}
p {
    max-width: 600px;
    margin: 0 auto;
    font-weight: 400;
}


body {
    background: #222;   
}

nav {
    padding: 5vh 0;
    position: fixed;
    width: 150px;
    height: 100%;
    text-align: center;
    background: #333;
    .page-title {
        margin: 5vh 0;
        position: relative;
        h1 {
            &:last-of-type {
                font-weight: 100;   
            }
        }
        div {
            height: 1px;
            background: #fff;
            margin: 2vh 4vh 1vh;
        }
        h4 {
            text-indent: 30%;  
            margin-top: 1vh;
        }
    }
    ul {
        position: relative;
        list-style-type: none;
        li {
            @include transition(0.5s);
            &:first-of-type {
                border-top: 1px solid #444;
                }
            a {
                display: block;
                text-decoration: none;
                @include transition(0.5s);
                border-bottom: 1px solid #444;
                height: 10vh;
                h5 {
                    font-size: 18px;
                    @include transition(0.5s);
                    line-height: 10vh;
                    
                }
                &.active-page {
                    height: 60vh;
                    background: #555;
                    h5 {
                        transform: rotateZ(-90deg);
                        font-size: 130px;
                        position: relative;
                        top: 35vh;
                        right: 1vw;
                    }
                    
                }
                &:hover {
                    background: #555;
                }
                
            }
        }
    }
}

#wrapper {
    margin-left: 150px;
    width: auto;
    height: auto;
}
#photos {
    position: relative;
    width: 100%;;
    height: auto;
    right: 0;
}
.grid {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
[class*='col-'] {
    float: left;
}
.col-2-3 {width: 66.66%;}
.col-1-3 {width: 33.33%;}
.col-1-4 {width: 25%;}
.col-1-2 {width: 50%;}
.col-3-4 {width: 75%;}
.col-1 {width: 100%;}

.pic0 {
    background: url(img/wheat.jpg) no-repeat center center;
}.pic1 {
    background: url(img/cornhole.JPG) no-repeat center center;   
}.pic2 {
    background: url(img/horse.jpg) no-repeat center center;
}.pic3 {
    background: url(img/fence.jpg) no-repeat center center;
}.pic4 {
    background: url(img/dog.jpg) no-repeat center center;
}.pic5 {
    background: url(img/shooting.JPG) no-repeat center center;
}.pic6 {
    background: url(img/sunset.jpg) no-repeat center center;
}.pic7 {
    background: url(img/otter.jpg) no-repeat center center;
}.pic8 {
    background: url(img/Jeremy_shotgun.JPG) no-repeat center;
}.pic9 {
    background: url(img/forest_road.jpg) no-repeat center center;
}.pic10 {
    background: url(img/kid.jpg) no-repeat center;
}

.hover {
    height: 0;
    opacity: 0;
    background: rgba(255,255,255,0.7);
    @include transition(.5s);
    .button {
        opacity: 0.9;
        display: block;
        position: relative;
        margin: 0 auto;
        top: 125px;
        height: 50px;
        width: 150px;
        background: #444;
        text-decoration: none;
        text-align: center;
        line-height: 50px;
        @include transition(0.3s);
        &:hover {
            background: rgba(100,0,0,1);   
        }
    }
}
[class*='pic'] {
    background-size: cover;
    height: 300px;
//    filter: grayscale(50%);
//    -webkit-filter: grayscale(50%);
    &:hover > .hover {
        opacity: 1;
        height: 100%;
    }
}
.pic0 {
    height: 400px;   
}
.title {
    height: 400px;
    padding: 20px;
    text-align: center;
    padding-top: 100px;
}

#videos {
    position: relative;
    width: 100%;
    height: auto;
    right: 0;
    background: #fff;
}

[class*='vids'] {
    height: 200px;
    
}
.vids0 {
    height: 60vh;
    overflow: hidden;
    .video_1 {
        height: 100%;
        width: 100%;
        object-fit: cover;
//        filter: grayscale(50%);
//        -webkit-filter: grayscale(50%);
    }
}.vids1 {
    background: red;   
}.vids2 {
    background: blue;     
}.vids3 {
    background: green;     
}.vids4 {
    background: pink;     
}

#about {
    position: relative;
    width: 100%;
    height: auto;
    background: #fff;
    .selfie {
        position: relative;
        background: teal;
        height: 50vh;
        width: 100%;
        text-align: center;
        line-height: 30vh;
    }
    p {
        color: #222;
        padding: 30px 0;
        line-height: 30px;
        text-indent: 50px;
    }
}

#contact {
    position: relative;
    width: 100%;
    height: auto;
    background: #555;
    p {
        display: block;
    }
    h2 {
        width: 58%;
        width: 58%;
        text-align: right;
        font-size: 60px;
        line-height: 120px;
        display: inline-block;
        vertical-align: super;
        margin-right: 20px;
    }
    div {
        display: inline-block;
    }
}
