#wrapper {
    margin-left: 150px;
    width: auto;
    height: auto;
}
#photos {
    position: relative;
    width: 100%;;
    height: auto;
    right: 0;
}
.pic0 {
    background: url(/img/wheat.jpg) no-repeat center center;
}.pic1 {
    background: url(/img/cornhole.JPG) no-repeat center center;   
}.pic2 {
    background: url(/img/horse.jpg) no-repeat center center;
}.pic3 {
    background: url(/img/fence.jpg) no-repeat center center;
}.pic4 {
    background: url(/img/dog.jpg) no-repeat center center;
}.pic5 {
    background: url(/img/shooting.JPG) no-repeat center center;
}.pic6 {
    background: url(/img/sunset.jpg) no-repeat center center;
}.pic7 {
    background: url(/img/otter.jpg) no-repeat center center;
}.pic8 {
    background: url(/img/Jeremy_shotgun.JPG) no-repeat center;
}.pic9 {
    background: url(/img/forest_road.jpg) no-repeat center center;
}.pic10 {
    background: url(/img/kid.jpg) no-repeat center;
}

.hover {
    position: relative;
    height: 0;
    top: 100%;
    opacity: 0;
    overflow: hidden;
    @include gradient-top-to-bottom(transparent, rgba(0,0,0,0.9));
    @include transition(.5s);
    .button {
        opacity: 0.9;
        display: block;
        position: relative;
        margin: 0 auto;
        top: 125px;
        height: 50px;
        width: 150px;
        background: #444;
        text-decoration: none;
        text-align: center;
        line-height: 50px;
        @include transition(0.3s);
        &:hover {
            background: rgba(100,0,0,1);   
        }
    }
}
[class*='pic'] {
    background-size: cover;
    height: 300px;
    @include transition(0.5s);
    &:hover > .hover {
        opacity: 1;
        height: 100%;
        top: 0;
    }
}
.pic0 {
    height: 400px;   
}
.title {
    height: 400px;
    padding: 20px;
    text-align: center;
    padding-top: 100px;
}

#videos {
    position: relative;
    width: 100%;
    height: auto;
    right: 0;
    background: #fff;
}

[class*='vids'] {
    height: 200px;
    
}
.vids0 {
    height: 60vh;
    overflow: hidden;
    .video_1 {
        height: 100%;
        width: 100%;
        object-fit: cover;
//        filter: grayscale(50%);
//        -webkit-filter: grayscale(50%);
    }
}.vids1 {
    background: red;   
}.vids2 {
    background: blue;     
}.vids3 {
    background: green;     
}.vids4 {
    background: pink;     
}

#about {
    position: relative;
    width: 100%;
    height: auto;
    background: #fff;
    .selfie {
        position: relative;
        background: teal;
        height: 50vh;
        width: 100%;
        text-align: center;
        line-height: 30vh;
    }
    p {
        color: #222;
        padding: 30px 0;
        line-height: 30px;
        text-indent: 50px;
    }
}

#contact {
    position: relative;
    width: 100%;
    height: auto;
    background: #555;
    p {
        display: block;
    }
    h2 {
        width: 58%;
        width: 58%;
        text-align: right;
        font-size: 60px;
        line-height: 120px;
        display: inline-block;
        vertical-align: super;
        margin-right: 20px;
    }
    div {
        display: inline-block;
    }
}