.grid {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
[class*='col-'] {
    float: left;
}
.col-2-3 {width: 66.66%;}
.col-1-3 {width: 33.33%;}
.col-1-4 {width: 25%;}
.col-1-2 {width: 50%;}
.col-3-4 {width: 75%;}
.col-1 {width: 100%;}
