nav {
    position: fixed;
    width: 150px;
    height: 100%;
    text-align: center;
    ul {
        list-style-type: none;
        li {
            @include transition(0.5s);
            border-top: 1px solid #444;
            &:first-of-type {
                border: 0px;
                }
            a {
                display: block;
                text-decoration: none;
                @include transition(0.5s);
                &:hover {
                    h5 {
                        line-height: 14vh;
                        font-weight: 600;
                        font-size: 24px;
                    }
                }
                &.active-page {
                    h5 {
                        line-height: 20vh;
                        font-weight: 600;
                        font-size: 30px;
                        color: $color-font-dark;
                    }
                    &hover {
                        h5 {
                            line-height: 20vh;
                            font-weight: 600;
                            font-size: 30px;
                            color: $color-font-dark;
                        }
                    }
                }
                
                h5 {
                    line-height: 10vh;
                    @include transition(0.5s);
                    font-weight: 400;
                    color: $color-font-dark;
                }
            }
        }
    }
}