body {
    font-family: $font;
    color: $color-font-dark;
}

h1 {
    font-size: 40px;
    font-weight: 300;
}
h2 {
    font-size: 35px;
    font-weight: 700;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 20px;
    font-weight: 300;
}
h5 {
    font-size: 20px;
}
p {
    max-width: 600px;
    margin: 0 auto;
    font-weight: 400;
}
a {
    color: $color-font;
}