@mixin transition($seconds) {
    -webkit-transform: translateZ(0);
    -webkit-transition: all $seconds ease;
    -moz-transition: all $seconds ease;
    -ms-transition: all $seconds ease;
    -o-transition: all $seconds ease;
    transition: all $seconds ease;
}

@mixin gradient-top-to-bottom($color1, $color2) {
    background-color: $color1;
    background-image: -webkit-gradient(linear, left top, left bottom, from($color1), to($color2));
    background-image: -webkit-linear-gradient(top, $color1 40%, $color2);
    background-image:    -moz-linear-gradient(top, $color1 40%, $color2);
    background-image:      -o-linear-gradient(top, $color1 40%, $color2);
    background-image:         linear-gradient(to bottom, $color1 40%, $color2);
}